.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.custom_btn{
    background-color: aquamarine;
    border: 1px solid black;
    padding: 5px 25px;
    margin-right: 10px;
}
.product_section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.product_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

.product_card img{
    max-width: 250px;
}